.dashboard_container {
    -fx-font-family: "Arial Rounded MT Bold";
}
.dashboard_container .task_container .scroll-pane .task_container {
    -fx-pref-width: 100%;
    -fx-background-color: yellow;
}
.dashboard_container .tasks_container .scroll-pane .task_container .label {
    -fx-pref-width: 100%;
    -fx-text-alignment: center;
    -fx-text-fill: blue;
}
.default-color0.chart-pie { -fx-pie-color: #FF0000; }
.default-color1.chart-pie { -fx-pie-color: #115511; }
.default-color2.chart-pie { -fx-pie-color: #FFFF00; }
.default-color3.chart-pie { -fx-pie-color: #FF0000; }
.default-color4.chart-pie { -fx-pie-color: #115511; }
.default-color5.chart-pie { -fx-pie-color: #FFFF00; }
