.menu_container {
    -fx-background-color: #2020AA;
}
.menu_container .button {
    -fx-background-color: #2424FF;
    -fx-text-fill: #FFFFFF;
}
.menu_container .choice-box {
    -fx-background-color: #2020FF;
    -fx-text-fill: #FFFFFF;
}
.menu_container .button:hover, .choice-box:hover{
    -fx-cursor: hand;
}
.choice-box .arrow {
    -fx-background-color: #FFFFFF;
}
/*.button:hover .choice-box:hover {*/
/*    -fx-cursor: hand;*/
/*    -fx-background-color: white;*/
/*}*/
.label {
    -fx-text-alignment: center;
    -fx-font-size: 16;
    -fx-text-fill: #FFFFFF;
}