.pane {
    -fx-background-color: #2424FF;
    -fx-background-radius: 5deg 0 0 5deg;
}
.task-container {
    -fx-background-radius: 5deg;
    -fx-border-radius: 5deg;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: grey;
}
.choice-box {
    -fx-border-color: grey;
    -fx-border-radius: 2.5deg;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(gaussian, grey, 2.5, 0, 1, 1);
}
.choice-box > .label {
    -fx-text-fill: #000000;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 10;
}
.arrow {
    -fx-background-color: transparent;
}